.timer {
  color: #fff;
  font-weight: bold;
  font-size: 3em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
}

.start-btn {
  width: 75%;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  text-transform: uppercase;
  background-color: #fff;
  border: 0;
  position: relative;
  border-radius: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, 37px);
  -ms-transform: translate(-50%, 37px);
  transform: translate(-50%, 37px);
  cursor: pointer;
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}
