@import url("https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&family=Roboto&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: "Playwrite AR", cursive;
}

main {
	background-color: rgba(255, 255, 255, 0.1);
	max-width: 90%;
	max-height: 90%;
	min-width: 350px;
	min-height: 375px;
	border-radius: 10px;
	padding: 25px;
}

.stage-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	transform: translateY(15px);
}

.title {
	text-align: center;
	user-select: none;
}

.page-title {
	color: #fff;
	font-size: 3.25em;
}

.stage {
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	border: 0;
	border-radius: 999px;
	font-size: 1.05em;
	font-weight: bold;
	padding: 0.25em 0.75em;
	cursor: pointer;
}

.settings-btn {
	position: absolute;
	transform: translate(295px, -40%);
	width: 2em;
	height: 2em;
	cursor: pointer;
	border: 0;
	background-color: transparent;
}

.settings-btn img {
	transform: translate(-20%, -20%) scale(0.75);
}
