main {
	background-color: rgba(255, 255, 255, 0.2);
	max-width: 90%;
	width: 350px;
	border-radius: 10px;
	padding: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.title {
	text-wrap: nowrap;
	text-align: center;
}

.page-title {
	color: #fff;
	font-size: 3.25em;
}

.stage {
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	border: 0;
	border-radius: 999px;
	font-size: 1.05em;
	font-weight: bold;
	padding: 0.25em 0.75em;
	cursor: pointer;
	text-wrap: nowrap;
}

.settings-btn {
	-ms-flex-item-align: end;
	align-self: flex-end;
	position: absolute;
	-webkit-transform: translate(55%, -45%);
	-ms-transform: translate(55%, -45%);
	transform: translate(55%, -45%);
	width: 2em;
	height: 2em;
	cursor: pointer;
	border: 0;
	background-color: transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.settings-btn img {
	-webkit-transform: scale(0.75);
	-ms-transform: scale(0.75);
	transform: scale(0.75);
}
